
/* --------------------- */
/* FORMS	     		 */
/* ===================== */

form{
	background: transparent;
	border-radius: 4px;
	padding: 2em;
	font-size: 1.2em;
}
.form-title{
	height: 10em;
	font-size: 1.2em;
}

.form-group{
	padding: 0.4em;
}

label{
	min-width: 200px;
	text-align: right;
	font-size: 1.2em;
	
}

input{
	padding: 0.2em;
	margin: 0.2em;
	border-radius: 4px;
	/*width: 300px;*/
	text-align: left;
	font-size: 1.1em;
}
select{
	padding: 0.3em;
	margin: 0.2em;
	border-radius: 4px;
	/*width: 300px;*/
	text-align: left;
	font-size: 1.1em;
}

/*Buttons*/
/*====================================*/
.btn{
	/*font is set above in typography*/
	transition: 0.2s;
	cursor: pointer;
	margin: 0.4em;
	padding: 0.4em 0.7em 0.4em 0.7em;
	border-radius: 4px;
	font-size: 1.1em;
	text-decoration: none;
}
.btn-reg {
	border: 1px solid #fff;
	border-radius: 4px;
	font-size: 20px;
}
.btn-little {
	border: 1px solid #fff;
	border-radius: 4px;
	font-size: 12px;
}
.btn-danger {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2825b+0,e55b2b+50,f07146+100;Red+3D+%232 */
background: rgb(242,130,91); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(240,113,70,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.btn-warning {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
background: rgb(180,227,145); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.btn-link {
	/*color: #FFA134;*/
	color: #222;
	font-size: 14px;
	text-decoration: none;
}
.btn-info {
	background: #ccc;
}
.btn-default {
	background: #fff;
}

.btn:hover{
	box-shadow: 1px 1px 3px 2px #000;
}
a {
	text-decoration: none;
}