/*
	styles.css
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
}



/* ============= STRUCTURE =============== */
body{

}
header {
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.panel {
	background-color: #F9F9F9;
	padding: 10px;
}

img{
	width: 100%;
}
button{
	display: inline-block;
}

.item{
	font-size: 18px;
	width: 90%;
}
.textarea {
	width: 100%;
}
.topAd{
	background: red;
	padding: 0;
	margin: 0;

}
.header-space{
	height: 170px;
}

/*-=====NAV=======-*/
nav ul {
 padding: 0;
 margin: 0;
}
nav ul li {
	display: inline-block;
	list-style: none;
	padding: 10px 30px 10px 10px;
	margin: 0;
}
.title{
	font-size: 20px;
	font-weight: bold;
}



/* ============= TYPOGRAPHY =============== */
.post-title{
	display: inline-block;
}
.read-more{
	color: #E61128;
	font-weight: bold;
}
.quan {
	display: inline-block;
}
.quanInput {
	display: inline-block;
	width: 50px;
}
/* ============= FORMS ============== */
.formClass{
	margin-top: 5em;
}
.fifty-gray-transparent {
	background: rgba(240,240,240,0.5);
}
/*.form-control:valid {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}*/








/* END OF FILE */