<section class="container row">
     <nav>
        <div class="one-fourth">
            <ul>
              <li>Companies</li>
            </ul>
        </div>
        <div class="three-fourth">
            <ul class="float-right">
                <!-- Individual Buttons -->
                <li id="create-company" class="btn btn-info" ng-click="DashC.selectIt($event)">
				<i class="fa fa-plus-square inset-item"></i> Create New Company
				</li>
            </ul>
        </div>
    </nav>
</section>
<hr/>