<header>
       <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <ul>
                  <div class="col-md-4">
                        <div class="navbar-brand">Cap-stone</div>
                  </div>
                  <div class="col-md-8 text-right">
                        <div class="navbar-header navbar-right">
                          <div class="navbar-brand"><a href="#/">Home</a></div>
                              
                              <div class="navbar-brand" ng-show="!loggedIn">
                                      <a href="#/login">Login</a>
                              </div>
                              <div class="navbar-brand" ng-show="!loggedIn">
                                  <a href="#/register">Register</a>
                              </div>
                              <div class="navbar-brand" ng-show="loggedIn">
                                      <a href="#/dashboard">Dashboard</a>
                              </div>
                              <div class="navbar-brand" ng-show="loggedIn">
                                  <a ng-click="LC.logout()">Logout</a>
                              </div>
                        </div>
                  </div>
                  </ul>
            </div>
      </nav>
</header>