<div ng-show="MC.showMessage" class="app-message">{{ MC.appMessage }}</div>
<header>
    <nav>

        <div class="one-fourth">
            <ul>
              <!-- <li><i class="fa fa-times fa-2x inset-item"></i></li> -->
              <li class="title inset-item" ng-click="UC.home();">Lexeme</li>
            </ul>
        </div>

        <div class="three-fourth">
            <ul class="float-right">
              <li ng-show="!loggedIn"><a ng-click="showLogin = !showLogin">LOGIN</a></li>
                  <li ng-show="!loggedIn"><a href="#/register">REGISTER</a>
                  </li>

                  <li ng-show="loggedIn">
                  <span class="fa fa-home fa-2x orange inset-item" ng-click="UC.home();"></span>
                  </li>

                  <li ng-show="loggedIn" ng-init="showSettings=false">
                  <span class="fa fa-cog fa-2x orange inset-item" ng-click="showSettings=!showSettings"></span>
                  </li>

                  <div ng-show="showSettings" class="over-menu">
                    <li ng-show="loggedIn"><a href="#/dashboard">DASHBOARD</a>
                    </li>
                    <li ng-show="loggedIn"><a ng-click="UC.logoutUser()">LOGOUT</a>
                    </li>
                  </div>      
            </ul>
        </div>
        
    </nav>
</header>
<div ng-show="appMessage" class="app-message"></div>