<section class="container row">
	<nav>
        <div class="one-fourth">
            <ul>
              <li></li>
            </ul>
        </div>
        <div class="three-fourth">
            <ul class="float-right">
				<!-- Individual Buttons -->
			</ul>
		</div>
	</nav>
</section>


<section class="noti-panel panel-fill">
    <div class="noti-text">Notes</div>
    <hr/>
       <!--  <ul ng-repeat="">
            
        </ul> -->

    {{PC.projects.project.name}}


</section>


<section class="noti-panel panel-fill">
    <div class="noti-text">Tracker</div>
    <hr/>

</section>