<section class="container row">
	 <nav>
        <div class="one-fourth">
            <ul>
              <li>Projects</li>
            </ul>
        </div>
        <div class="three-fourth">
            <ul class="float-right">
            	<li id="create-project" class="btn btn-info" ng-click="DashC.selectIt($event)">
				<i class="fa fa-plus-square inset-item"></i> Create New Project
				</li>
				
			</ul>
		</div>
	</nav>
</section>
<hr/>

	
		
		<!-- ng-repeat show projects -->
		<div ng-repeat="project in PC.projects">
			
			<a href="/#/workspace">
				
				<div class="project-panel panel-fill">
					
					<div class="project-img">
						
						<img src="{{ project.image_url }}">
					
					</div>
					
					<div class="project-title-area project-text">
						{{ project.project_name }}
					</div>
					<hr/>
					

				</div>

			</a>

		</div>




