<section class="container row">
	 <nav>
        <div class="one-fourth">
            <ul>
              <li>Projects</li>
            </ul>
        </div>
        <div class="three-fourth">
            <ul class="float-right">
            	<li id="create-project" class="btn btn-info" ng-click="DashC.selectIt($event)">
				<i class="fa fa-plus-square inset-item"></i> Create New Project
				</li>
				
			</ul>
		</div>
	</nav>
</section>
<hr/>

	
		
		<!-- ng-repeat show projects -->
		<div ng-repeat="project in PC.projects">
			
			
				
				<div class="project-panel panel-fill">

					<a href="/#/workspace/{{ project.id }}">
						<div class="project-img">
							<img src="{{ project.image_url }}">
						</div>
					</a>

					<div class="row">
					<div class="one-half">
						<a href="/#/workspace/{{ project.id }}">
							<div class="project-title-area project-text project-text-adjust">
								{{ project.project_name }}
							</div>
						</a>
					</div>
					<div class="one-half">
						<i class="float-right fa fa-times-circle fa-2x inset-item" ng-click="PC.deleteProject(project.id);"></i>
					</div>
					
				</div>

			

		</div>




