<section class="sidebar">

	<div class="top-bar">	
		<div class="personal-pic">
			<img src="{{UC.user.image_url}}">
		</div>
		<div class="greeting">
			{{UC.greeting}} {{UC.user.first_name}}
		</div>
		<div class="vert-div"></div>
	</div>


	<div id="sidebar-menu">
		<!-- <div id="notifications" class="menu-item menu-item-selected" 
		ng-click="DashC.selectIt($event); showProjectChoices=false;">
			<div class="menu-icon">
				<i class="fa fa-bell fa-2x inset-item"></i>
			</div>
			<div class="menu-text">
				<h4>Notifications</h4>
			</div>
			<div class="menu-selected"></div>
		</div> -->


		<!-- PROJECTS -->
		<div id="projects" ng-model="showProjectChoices" class="menu-item menu-item-selected" ng-click="DashC.selectIt($event); showProjectChoices=true;">
			<div class="menu-icon">
				<i class="fa fa-pencil fa-2x inset-item"></i>
			</div>
			<div class="menu-text">
				<h4>Projects</h4>
			</div>
		</div>

		
		<div id="tracker" class="menu-item" 
		ng-click="DashC.selectIt($event); showProjectChoices=false;">
			<div class="menu-icon">
				<i class="fa fa-check-square-o fa-2x inset-item"></i>
			</div>
			<div class="menu-text">
				<h4>Tracker</h4>
			</div>
		</div>
		<div id="companies" class="menu-item" 
		ng-click="DashC.selectIt($event); showProjectChoices=false;">
			<div class="menu-icon">
				<i class="fa fa-users fa-2x inset-item"></i>
			</div>
			<div class="menu-text">
				<h4>Companies</h4>
			</div>
		</div>
		<div id="user-settings" class="menu-item" 
		ng-click="DashC.selectIt($event); showProjectChoices=false;">
			<div class="menu-icon">
				<i class="fa fa-cogs fa-2x inset-item"></i>
			</div>
			<div class="menu-text">
				<h4>User Settings</h4>
			</div>
		</div>
	</div>


</section>