
    <!-- MENU -->
    <section class="container row">
         <nav>
            <div class="one-fourth">
                <ul>
                  <li>Tracker</li>
                </ul>
            </div>
            <div class="three-fourth">
                <ul class="float-right">
                    <!-- Individual Buttons -->
                        <input type="text" ng-model="newName" 
                        placeholder="Create New List" ng-maxlength="25">
                        <select name="projectSelect" id="projectSelect" ng-model="projectInfo">
                            <option value="none, Personal, UC.user.id" selected>No Project</option>
                            <option ng-repeat="project in PC.projects" value="{{project.id}}, {{project.project_name}}, {{UC.user.id}}">{{project.project_name}}</option>
                        </select>
                        <i class="fa fa-plus fa-2x inset-item tracker-icon" ng-click="TC.addList(newName, projectInfo); newName='';"></i>
                </ul>
            </div>
        </nav>
    </section>
    <hr/>

    <!-- LISTS -->
    <div ng-repeat='item in TC.list'>
        
        <div class="tracker-list panel-fill">
            <div class="row">
            <div class="project-text"> {{ item.name }} - {{ item.project_name }}</div>
            <div class="float-right"> {{ item.date | date : shortTime : 'UTC' }} </div>
            </div>
            <hr/>
        
            <!-- Display our tasks for each list here -->
            <div ng-repeat="task in item.task track by $index">
                <div class="row">
                    <i class="fa fa-times inset-item tracker-icon" ng-click="TC.removeTask(item.list_id, $index)"></i> {{task}}

                    <select ng-change="TC.statusChange( {{$index}} , status, item.list_id );" class="float-right" name="statusSelect" ng-model="status">
                        <option value="" selected>{{ item.status[$index] }}</option>
                        <option value="Not Started">Not Started</option>
                        <option value="Started">Started</option>
                        <option value="Complete">Complete</option>
                    </select>
                    </div>
            </div>
            <hr/>

            <div class="row">
                <input class="form-control stretch" type="text" ng-model="task" placeholder="Add a task">
                <i class="fa fa-plus fa-2x inset-item tracker-icon" ng-click="TC.addTask(item.list_id, task); task='';"></i>
                <i class="fa fa-floppy-o fa-2x inset-item tracker-icon" ng-click="TC.saveList();"></i>
            </div>


            

            <div class="row">
            <button class="btn btn-warning float-right" ng-click="TC.removeList(item.list_id)">Remove List</button>
            </div>
        </div>
    </div>
</div>