<section class="container row">
	<div ng-include src="'../views/partials/header'"></div>
</section>

<div class="container row" ng-controller="DashboardCtrl as DashC">
		<section class="one-fourth vh lite-fill">
				<div ng-include src="'../views/partials/sidebar'"></div>
		</section>
		<section class="three-fourth">
			<div ng-include src="'../views/partials/topbar'"></div>
			
				<div class="group-container"> 
				<div ng-controller="ProjectCtrl as PC">
				<div ng-controller="TrackerCtrl as TC">
					<div ng-include src="DashC.getPartialUrl()"></div>
				</div>
				</div>
				</div>


			</div>
		</section>
</div>




<div ng-include src="'../views/partials/footer'"></div>

