<div ng-include src="'../views/partials/header.html'"></div>

<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div class="col-md-3 col-md-offset-3">


    <form name="form" ng-submit="UC.loginUser(user)" role="form">

        <div class="form-group">

            <label for="username">Username</label>
            <i class="fa fa-key"></i>
            <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>

        </div>

        <div class="form-group">

            <label for="password">Password</label>
            <i class="fa fa-lock"></i>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>

        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
        </div>

    </form>

    <button type="button" ng-click="UC.callRestricted()"> Test Restrict</button>

    
</div>

<h3>{{ appMessage }}</h3>

<div ng-include src="'../views/partials/footer.html'"></div>