<div ng-include src="'../views/partials/header.html'"></div>



<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div class="col-md-3 col-md-offset-3">

    <form name="regUser" ng-submit="UC.registerUser(user)" role="form">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
            <span ng-show="regUser.username.$dirty && regUser.username.$error.required" class="help-block">Username is required</span>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <i class="fa fa-lock"></i>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
            <span ng-show="regUser.password.$dirty && regUser.password.$error.required" class="help-block">Password Required</span>
        </div>

        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" class="form-control" ng-model="user.firstname" required />
            <span ng-show="regUser.firstname.$dirty && regUser.firstname.$error.required" class="help-block">First Name is required</span>
        </div>

        <div class="form-group">
            <label for="lastname">Last Name</label>
            <i class="fa fa-lock"></i>
            <input type="text" name="lastname" id="lastname" class="form-control" ng-model="user.lastname" required />
            <span ng-show="regUser.lastname.$dirty && regUser.lastname.$error.required" class="help-block">Last Name is required</span>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <i class="fa fa-lock"></i>
            <input type="text" name="email" id="email" class="form-control" ng-model="user.email" required />
            <span ng-show="regUser.email.$dirty && regUser.email.$error.required" class="help-block">Email is required</span>
        </div>

        <div class="form-group">
            <label for="role">Company Role</label>
            <i class="fa fa-lock"></i>
            <input type="text" name="role" id="role" class="form-control" ng-model="user.role" required />
            <span ng-show="regUser.role.$dirty && regUser.role.$error.required" class="help-block">Company Role is required</span>
        </div>





        <div class="form-actions">
            <button type="submit" ng-disabled="regUser.$invalid || dataLoading" class="btn btn-danger">Create New User</button>
        </div>
    </form>

    
</div>


<div ng-include src="'../views/partials/footer.html'"></div>