<section class="container row">
	<div ng-include src="'../views/partials/header'"></div>
</section>

<!-- Get all scopes to workspace -->
<div ng-controller="UserCtrl as UC">
<div ng-controller="ProjectCtrl as PC">
<div ng-controller="WorkspaceCtrl as Work">

	<!-- MENU -->
	<!-- MENU ITEMS -->
	<section class="container row">
	 <nav>
        <div class="two-third">

            <ul>
        		<!-- Default - does nothing -->
        		<li>{{ PC.projects[0].project_name }}</li>
            </ul>

        </div>
        <div class="one-third">
        	<!-- //Add a box to the scene -->
            <ul class="float-right">
            	<li><jr-make-box-button></jr-make-box-button></li>
			</ul>
		</div>
	</nav>
	</section>

	
	<!-- DESKTOP -->
	<div class="desktop-container row" id="desktop" jr-track-mouse>
		<!-- WORK AREA -->
		
	</div>
	<nav>
        <div class="two-third">
            <ul>
                <!-- //Get code from #desktop -->
                <li><button ng-click="Work.check();">Check</button></li>
            </ul>
        </div>
        <div class="one-third">
        	<ul class="float-right">
            	<li>{{ myX }}, {{ myY }}</li>
			</ul>
		</div>
	

</div>
</div>
</div>
