/*-----------------------*/
/*	DESKTOP WORK AREA */
/*=======================*/

.desktop-container {
    width: 94%; 
    height: 70vh; 
    border:2px solid #ccc; 
    padding: 10px;
    border: 2px groove black;
    margin: auto;
    background-color: #fff;
}

.box {
    display: block;
    position: relative; 
    width: 150px;
    height: 100px;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    cursor: hand;
    background-color: rgba(200,200,200,0.5);
    border: 1px solid #000;
    
}

.jr-menu-ul{
  display: inline-block;
  float: right;
}
.jr-menu{
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
}
.jr-menu:hover{
  text-shadow: 0.25px 0.25px 2px 1px #fff;
}

.jr-text-box{
  
}


/*-----------------------*/
/*	TOOLS */
/*=======================*/

.icon{
	color: rgba(30,30,30,0.6);
    text-shadow: 0px 2px 4px rgba(255,255,255,0.7);
    transition: 0.2s;
    cursor: pointer;
}
.icon:hover{
	text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
}


